@import "header_top.css";
@import "header_content.css";
.header {
  height: 100vh;
  background: #eeebe5;
}
.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}
.header-content {
  width: 100%;
}
