.activity {
   display: none;
   margin: 0 auto;
   margin-top: 2%;
   max-width: 730px;
   background: #fff;
   color: #131313;

   &__body {
      margin: 0 30px;
   }

   &__column {
      display: flex;
      flex-direction: column;
   }

   &__day {
      opacity: 0.5;
      font-size: 14px;
      text-transform: uppercase;
      margin: 35px 0 32px 0;
   }

   &__notification {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      p {
         font-size: 15px;
         line-height: 20px;
         max-width: 492px;
      }
   }

   &__text {
      background: #F7F6F3;
      border-radius: 10px;
      border-radius: 10px;
      width: 80%;
      padding: 20px 30px 30px 30px;
      margin-left: -2%;
   }

   &__row {
      display: flex;
      margin-left: 60px;
      margin-bottom: 97px;
   }

   &__images {
      display: flex;
      width: 100px;
      height: 100px;

      & img {
         width: 100px;
         height: 100px;
         margin-right: 10%;
      }
   }
}




.item-post {
   display: flex;
   margin-bottom: 30px;

   &__icon {
      width: 20%;

      &_check::before {
         content: "";
         float: left;
         position: relative;
         background: url("../img/check.svg") no-repeat center #CEF9C6;
         min-width: 40px;
         min-height: 40px;
         border-radius: 50%;
      }

      &_message::before {
         content: "";
         float: left;

         background: url("../img/massage.png") no-repeat center #FFF8DD;
         background-size: 18px 10px;
         min-width: 40px;
         min-height: 40px;
         border-radius: 50%;
      }

      &_download::before {
         content: "";
         float: left;
         position: relative;
         background: url("../img/empty.png") no-repeat center #E3EFFF;
         background-size: 12px 13px;
         min-width: 40px;
         min-height: 40px;
         border-radius: 50%;
      }
   }

   &__text {
      line-height: 20px;
      font-size: 16px;
      margin-left: 20px;
      width: 80%;

      p {
         max-width: 460px;
      }
   }

   &__time {
      display: flex;
      width: 12%;
      justify-content: flex-end;
      opacity: 0.7;
      font-size: 14px;
      line-height: 20px;
   }

   &__number {
      margin-right: 4px;
   }
}

@media(min-width:300px) and (max-width:556px) {
   .activity {
      margin: 0;
      height: 100%;

      &__body {
         margin: 0 15px;
      }

      &__day {
         opacity: 0.5;
         font-size: 12px;
         text-transform: uppercase;
         margin: 20px 0 20px 0;
      }

      &__notification {
         display: flex;
         justify-content: center;
         margin-bottom: 20px;
         margin-left: 21px;

         p {
            font-size: 15px;
            line-height: 20px;
         }
      }

      &__text {
         background: #F7F6F3;
         border-radius: 10px;
         border-radius: 10px;
         width: 80%;
         padding: 10px 15px 15px 10px;
         margin-left: -2%;
      }

      &__row {
         display: flex;
         margin-left: 0;
      }

      &__images {
         & img {
            width: 60px;
            height: 60px;
            margin-right: 10px;
         }
      }
   }

   .item-post {
      display: flex;
      width: 100%;
      margin-bottom: 20px;

      &__icon {
         width: 12%;
         max-width: 40px;
         max-height: 40px;
         border-radius: 50%;
      }

      &__text {
         width: 80%;
         line-height: 20px;
         font-size: 16px;
         margin-left: 10px;
         margin-right: 5px;
         width: 80%;
      }

      &__time {
         display: flex;
         flex-wrap: wrap;
         width: 12%;
         height: 20px;
         justify-content: flex-end;
         opacity: 0.7;
         font-size: 14px;
         line-height: 20px;
      }

      &__number {
         margin-right: 0px;
      }
   }
}